<% include partials/template/head.ejs %>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Listed Circuits</span>
                <span class="badge badge-secondary badge-pill" id="list_num">0</span>
            </h4>
            <ul class="list-group mb-3" id="some_list">
                <div class="sk-cube-grid">
                    <div class="sk-cube sk-cube1"></div>
                    <div class="sk-cube sk-cube2"></div>
                    <div class="sk-cube sk-cube3"></div>
                    <div class="sk-cube sk-cube4"></div>
                    <div class="sk-cube sk-cube5"></div>
                    <div class="sk-cube sk-cube6"></div>
                    <div class="sk-cube sk-cube7"></div>
                    <div class="sk-cube sk-cube8"></div>
                    <div class="sk-cube sk-cube9"></div>
                </div>
            </ul>
        </div>
        <% if(pageID == 'mainCircuit') { %>

            <div class="col-md-8 order-md-1" id="pageContent">
                <h4 class="mb-3">Add New Circuit</h4>
                <form class="needs-validation" novalidate>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="moc_id">MoC ID</label>
                            <input type="text" class="form-control" id="moc_id" required>
                            <div class="invalid-feedback">
                                A valid MoC ID is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="interface_type">Interface Type</label>
                            <select class="custom-select d-block w-100" id="interface_type" required>
                              <option>10 Gbps</option>
                              <option>STM 64</option>
                              <option>STM 16</option>
                              <option>STM 4</option>
                              <option>STM 1</option>
                              <option>E1</option>
                              <option>DS3</option>
                            </select>
                            <div class="invalid-feedback">
                                A valid Interface Type is required.
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="provision_speed">Provision Speed (Kbps)</label>
                            <input type="number" min="0" class="form-control" id="provision_speed" required>
                            <div class="invalid-feedback">
                                A valid Provision Speed is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">

                            <label for="service">Service</label>
                            <select class="custom-select d-block w-100" id="service" required>
                              <option>Internet</option>
                              <option>IPLC</option>
                            </select>
                            <div class="invalid-feedback">
                                A valid service is required.
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="provider">Provider</label>
                            <select class="custom-select d-block w-100" id="provider" required>
                  
                            </select>
                            <div class="invalid-feedback">
                                A valid Provider is required.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="isp">ISP</label>
                            <select class="custom-select d-block w-100" id="isp" required>
                  
                            </select>
                            <div class="invalid-feedback">
                                A valid ISP is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="comment">Comments</label>
                        <textarea rows="4" class="form-control" id="comment"></textarea>
                    </div>


                    <hr class="mb-4">


                    <h5 class="mb-3">Circuit Connection</h5>
                    
                    <!-- INGRESS -->
                    <h6 class="mb-3">Ingress <button type="button" class="btn btn-default addButtonIngress patch_panel_array btn-link btn-sm">Add Port</button></h6>
                    
                    <ol class="ordered-circuit-conn-ingress-fields">
                        


                        <!-- The option field template containing an option field and a Remove button -->
                        <!-- Template start -->
                        <li class="row form-group d-none" id="ingressOptionTemplate">
                            <i class="fas fa-xs fa-arrows-alt-v"></i>
                            <div class="col-md-6">

                                <div class="input-group">
                                    <select class="custom-select d-block" name="patch_panel[]">
                                        <option value="">Choose Patch Panel...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <select class="custom-select d-block" name="port[]">
                                    <option value="">Choose Port...</option>                   
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default removeButton patch_panel_array"><i class="fa fa-xs fa-minus"></i></button>
                            </div>
                        </li>
                        <!-- Template end -->
                    </ol>
                    
                    <!-- EGRESS -->
                    <h6 class="mb-3">Egress <button type="button" class="btn btn-default addButtonEgress patch_panel_array btn-link btn-sm">Add Port</button></h6>
                    
                    <ol class="ordered-circuit-conn-egress-fields">
                        


                        <!-- The option field template containing an option field and a Remove button -->
                        <!-- Template start -->
                        <li class="row form-group d-none" id="egressOptionTemplate">
                            <i class="fas fa-xs fa-arrows-alt-v"></i>
                            <div class="col-md-6">

                                <div class="input-group">
                                    <select class="custom-select d-block" name="patch_panel[]">
                                        <option value="">Choose Patch Panel...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <select class="custom-select d-block" name="port[]">
                                    <option value="">Choose Port...</option>                   
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default removeButton patch_panel_array"><i class="fa fa-xs fa-minus"></i></button>
                            </div>
                        </li>
                        <!-- Template end -->
                    </ol>
                    <hr class="mb-4">

                    <button class="btn btn-primary btn-lg btn-block ladda-button" data-dismiss="modal" data-style="expand-right" type="submit">Submit</button>                    
                    <% } else { %>


                        <div class="col-md-8 order-md-1" id="pageContent">
                            <h4 class="mb-3">Update Circuit</h4>
                            <form class="needs-validation" novalidate>

                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="hidden" name="circuit_num" id="circuit_num" value="<%= circuit_num %>">
                                        <label for="moc_id">MoC ID</label>
                                        <input type="text" class="form-control" id="moc_id" required>
                                        <div class="invalid-feedback">
                                            A valid MoC ID is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="interface_type">Interface Type</label>
                                        <select class="custom-select d-block w-100" id="interface_type" required>
                                          <option>10 Gbps</option>
                                          <option>STM 64</option>
                                          <option>STM 16</option>
                                          <option>STM 4</option>
                                          <option>STM 1</option>
                                          <option>E1</option>
                                          <option>DS3</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            A valid Interface Type is required.
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="provision_speed">Provision Speed (Kbps)</label>
                                        <input type="number" class="form-control" id="provision_speed" required>
                                        <div class="invalid-feedback">
                                            A valid Provision Speed is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">

                                        <label for="service">Service</label>
                                        <select class="custom-select d-block w-100" id="service" required>
                                          <option>Internet</option>
                                          <option>IPLC</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            A valid service is required.
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="provider">Provider</label>
                                        <select class="custom-select d-block w-100" id="provider" required>

                                        </select>
                                        <div class="invalid-feedback">
                                            A valid Provider is required.
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="isp">ISP</label>
                                        <select class="custom-select d-block w-100" id="isp" required>

                                        </select>
                                        <div class="invalid-feedback">
                                            A valid ISP is required.
                                        </div>
                                    </div>
                                </div>


                                <div class="mb-3">
                                    <label for="comment">Comments</label>
                                    <textarea rows="4" class="form-control" id="comment"></textarea>
                                </div>

                                <hr class="mb-4">



                                <h5 class="mb-3">Circuit Connection</h5>

                                <!-- INGRESS -->
                                <h6 class="mb-3">Ingress <button type="button" class="btn btn-default addButtonIngress patch_panel_array btn-link btn-sm">Add Port</button></h6>

                                <ol class="ordered-circuit-conn-ingress-fields">

                                    <!-- The option field template containing an option field and a Remove button -->
                                    <!-- Template start -->
                                    <li class="row form-group d-none" id="ingressOptionTemplate">
                                        <i class="fas fa-xs fa-arrows-alt-v"></i>
                                        <div class="col-md-6">

                                            <div class="input-group">
                                                <select class="custom-select d-block" name="patch_panel[]">
                                        <option value="">Choose Patch Panel...</option>
                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="custom-select d-block" name="port[]">
                                                <option value="">Choose Port...</option>                   
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-default removeButton patch_panel_array"><i class="fa fa-xs fa-minus"></i></button>
                                        </div>
                                    </li>
                                    <!-- Template end -->
                                </ol>
                                
                                <!-- EGRESS -->
                                <h6 class="mb-3">Egress <button type="button" class="btn btn-default addButtonEgress patch_panel_array btn-link btn-sm">Add Port</button></h6>

                                <ol class="ordered-circuit-conn-egress-fields">

                                    <!-- The option field template containing an option field and a Remove button -->
                                    <!-- Template start -->
                                    <li class="row form-group d-none" id="egressOptionTemplate">
                                        <i class="fas fa-xs fa-arrows-alt-v"></i>
                                        <div class="col-md-6">

                                            <div class="input-group">
                                                <select class="custom-select d-block" name="patch_panel[]">
                                        <option value="">Choose Patch Panel...</option>
                                    </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="custom-select d-block" name="port[]">
                                                <option value="">Choose Port...</option>                   
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="button" class="btn btn-default removeButton patch_panel_array"><i class="fa fa-xs fa-minus"></i></button>
                                        </div>
                                    </li>
                                    <!-- Template end -->
                                </ol>
                                <hr class="mb-4">

                                <button class="btn btn-primary btn-lg btn-block ladda-button" data-dismiss="modal" data-style="expand-right" type="submit">Update</button>

                                <% } %>


                            </form>
                        </div>
            </div>



            <% include partials/template/foot.ejs %>
