        <% include partials/template/head.ejs %>
        <!--
        Network Visualization to check
        https://ecomfe.github.io/echarts-examples/public/index.html
        http://sigmajs.org/


        -->

        <div class="row">
            <div class="col-md-12" id="pageContent">
                <table id="circuitsTable" class="display" cellspacing="0" width="100%">

                </table>
            </div>
        </div>


        <% include partials/template/foot.ejs %>