<% include partials/template/head.ejs %> 

      <div class="row">

        <div class="col-md-12" id="pageContent">
          <table id="example" class="display" cellspacing="0" width="100%">
                
          </table>
        </div>
      </div>

     
          
<% include partials/template/foot.ejs %> 