        <% include partials/template/head.ejs %>

        <div class="row justify-content-md-center">
            <div class="col-md-12" id="pageContent">
                <div id="graph">
                </div>
            </div>
        </div>



        <% include partials/template/foot.ejs %>