                <!-- Modal -->
                <!-- Delete confirmation form -->
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <!--<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>-->
                            <div class="modal-body">
                                Are you sure you want to delete <span></span>?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm ladda-button" data-dismiss="modal" data-style="expand-right">Close</button>
                                <button type="button" class="btn btn-primary btn-sm delete-btn-confirm"><span class="ladda-label">Yes</span></button>
                            </div>
                        </div>
                    </div>
                </div>



                <footer class="my-5 pt-5 text-muted text-center text-small">
                    <p class="mb-1">&copy; 2017-2019 CITRA</p>
                    <p class="mb-1">
                        <% if(username)  { 
                            %>Logged in as <%= username %>
                        <% } %>
                    </p>

                </footer>
    </div>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <!--<script src="/javascripts/popper.min-1.12.9.js"></script>-->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.5.6/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.5.6/js/buttons.print.min.js"></script>
    <!-- My JavaScript -->
    <script>
        // This variable will be used on the javascript to know which service to use for each page
        <%
        if(locals.service_name) {
            %>
        var service_name = '<%= service_name %>';
        <%
        } 
        %>
    </script> 

    <script src="/javascripts/main-script.js"></script>
    <!--<script src="/reload/reload.js"></script>-->

    <!-- Ladda plugin for button loading indicators -->
    <script src="/javascripts/spin.min.js"></script>
    <script src="/javascripts/ladda.min.js"></script>
    <script src="/javascripts/ladda.jquery.min.js"></script>

    <!-- Sortable plugin for JQuery -->
    <script src='/javascripts/jquery-sortable.js'></script>

    <!-- moment for date manipulation -->
    <script src="/javascripts/moment.min.js"></script>

    <!-- force directed graphs to draw crap-->
    <script src="//unpkg.com/force-graph"></script>
    <script src="//unpkg.com/3d-force-graph"></script>

    <!-- MQTT client -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.min.js"></script>


</body>

</html>
