

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 CITRA</p>

      </footer>
    </div>
      
      
      
      
      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-html5-1.5.1/datatables.min.js"></script>
    <!-- My JavaScript -->
    <script src="/javascripts/main-script.js"></script>
    
    <!-- Ladda plugin for button loading indicators --> 
    <script src="/javascripts/spin.min.js"></script>
    <script src="/javascripts/ladda.min.js"></script>
    <script src="/javascripts/ladda.jquery.min.js"></script>
</body>
</html>
